body {
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column > * {
    /* border: 2px solid black; */
    width: 64px;
    aspect-ratio: 1 / 1;
}

.cell {
    background-color: #000;
}

.visited {
    /* border: 2px solid #0f0; */
}

.floor {
    background-color: #c90;
}
.wall {
    background-color: #3f3f3f;
}

.edge  {
    background-color: #3f3f3f;
}

.light {
    background-color: #f00;
}

.wfc {
    aspect-ratio: 1 / 1;
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
}

.tile{
    width: 64px;
    height: 64px;
    z-index: 2;
    position: relative;
    top: 0px;
    aspect-ratio: 1 / 1;
    margin: 0px 0px;
    float: right;
    object-fit: contain;
    image-rendering: pixelated;
}

.demo {
    display: flex;
}

.demo > *{
    width: 16px;
    height: 16px;
    z-index: 2;
    aspect-ratio: 1 / 1;
    margin: 0px 0px;
    object-fit: contain;
    image-rendering: pixelated;
}